<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.msdao.ZYUsra22Mapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.Usra22">
    <id column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="A2210" jdbcType="TIMESTAMP" property="a2210" />
    <result column="A2205" jdbcType="VARCHAR" property="a2205" />
    <result column="A2230" jdbcType="VARCHAR" property="a2230" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ModTime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    A0100, A2210, A2205, A2230
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.Usra22Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_usra22
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_usra22
    where A0100 = #{a0100,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from usra22
    where A0100 = #{a0100,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.Usra22Example">
    delete from usra22
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.Usra22">
    insert into usra22 (A0100, A2210, A2205, 
      A2230, CreateTime, ModTime
      )
    values (#{a0100,jdbcType=VARCHAR}, #{a2210,jdbcType=TIMESTAMP}, #{a2205,jdbcType=VARCHAR}, 
      #{a2230,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.Usra22">
    insert into usra22
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="a0100 != null">
        A0100,
      </if>
      <if test="a2210 != null">
        A2210,
      </if>
      <if test="a2205 != null">
        A2205,
      </if>
      <if test="a2230 != null">
        A2230,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="modtime != null">
        ModTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="a0100 != null">
        #{a0100,jdbcType=VARCHAR},
      </if>
      <if test="a2210 != null">
        #{a2210,jdbcType=TIMESTAMP},
      </if>
      <if test="a2205 != null">
        #{a2205,jdbcType=VARCHAR},
      </if>
      <if test="a2230 != null">
        #{a2230,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.Usra22Example" resultType="java.lang.Long">
    select count(*) from usra22
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update usra22
    <set>
      <if test="record.a0100 != null">
        A0100 = #{record.a0100,jdbcType=VARCHAR},
      </if>
      <if test="record.a2210 != null">
        A2210 = #{record.a2210,jdbcType=TIMESTAMP},
      </if>
      <if test="record.a2205 != null">
        A2205 = #{record.a2205,jdbcType=VARCHAR},
      </if>
      <if test="record.a2230 != null">
        A2230 = #{record.a2230,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modtime != null">
        ModTime = #{record.modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update usra22
    set A0100 = #{record.a0100,jdbcType=VARCHAR},
      A2210 = #{record.a2210,jdbcType=TIMESTAMP},
      A2205 = #{record.a2205,jdbcType=VARCHAR},
      A2230 = #{record.a2230,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      ModTime = #{record.modtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.Usra22">
    update usra22
    <set>
      <if test="a2210 != null">
        A2210 = #{a2210,jdbcType=TIMESTAMP},
      </if>
      <if test="a2205 != null">
        A2205 = #{a2205,jdbcType=VARCHAR},
      </if>
      <if test="a2230 != null">
        A2230 = #{a2230,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        ModTime = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where A0100 = #{a0100,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.Usra22">
    update usra22
    set A2210 = #{a2210,jdbcType=TIMESTAMP},
      A2205 = #{a2205,jdbcType=VARCHAR},
      A2230 = #{a2230,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ModTime = #{modtime,jdbcType=TIMESTAMP}
    where A0100 = #{a0100,jdbcType=VARCHAR}
  </update>
</mapper>